<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&family=Raleway:wght@100;600;900&family=Roboto:ital,wght@0,100;0,300;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo.css" type="text/css">
    <title>Ferrocarriles</title>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark" id="nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Logo de APEX" width="90"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="somos.html">Somos Costruction</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Construcción
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="carreteras.html">Carreteras</a></li>
                                <li><a class="dropdown-item" href="puertos.html">Puertos</a></li>
                                <li><a class="dropdown-item" href="ferrocarriles.html">Ferrocarriles</a></li>
                                <li><a class="dropdown-item" href="aeropuertos.html">Aeropuertos</a></li>
                                <li><a class="dropdown-item" href="hospitales.html">Hospitales</a></li>
                                <li><a class="dropdown-item" href="hidraulicas.html">Hidráulicas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="innovacion.html">Innovación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="sostenibilidad.html">Sostenibilidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="seguridad.html">Seguridad y Salud</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="noticias.html">Noticias</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="hero__ferrocarriles">
        <div class="container">
            <section class="hero__container">
                <div class="hero__texts">
                    <h2 class="hero__title">Ferrocarriles</h2>
                    <h2 class="hero__subtitle">Contamos con más de siete décadas de experiencia en proyectos en América, Europa, Asia y África, sumando destacadas iniciativas como el proyecto Haramain de Alta Velocidad entre Medina y La Meca el mayor contrato de la industria española en el exterior.</h2>
                </div>
            </section>
        </div>
    </div>
    <div id="fondo">
        <section class="container__page">
            <p class="about__paragraph">Somos la primera empresa española en realizar en el exterior un tramo de 206 km del tren de alta velocidad en la línea Ankara-Estambul (Turquía), en operación desde 2009; y en lograr el primer proyecto ferroviario en EEUU, AirportLink, que prolonga el metro de Miami hasta el aeropuerto internacional de esta ciudad del Estado de Florida.</p>
            <p class="about__paragraph">También hemos contribuido a la mejora del metro de Nueva York, a través de nuestra filial Judlau que ha acometido destacados proyectos en el marco del The New Second Avenue Subway Program´s, entre los que se encuentran: las estaciones de las calles 63 y 72; la remodelación del complejo South Ferry Terminal y la rehabilitación del túnel de Canarsie, principal vía de conexión entre Brooklyn y Manhattan.</p>
            <hr>
            <h2 class="subtitle">Latinoamérica</h2>
            <p class="about__paragraph">Hemos realizado el tranvía de Medellín, en Colombia, el más moderno de Latinoamérica, con una longitud de 4,3 km y pendiente de hasta el 12,5%, la mayor del sistema tranviario mundial. En México destacan el primer tramo del tren interurbano Toluca-Ciudad de México y el tercer tramo de la Línea 3 del Tren Ligero de Guadalajara. Asimismo, hemos acometido varios tramos para el Metro de Santiago de Chile en las Líneas 2, 3, 4 y 5, entre los que se encuentran la estación de Plaza Egaña y Dorsal además de la construcción del Metro de Valparaiso-Viña del Mar que en su conjunto suman más de 19 km en obras de túneles.</p>
            <p class="about__paragraph">Asimismo, llevamos a cabo una ampliación de 2,2 km de la línea 1 de metro que une Panamá y Villa Zaíta. Las obras incluirán, además, una estación terminal en el extremo Norte de la línea, con una capacidad mayor de 10.000 pasajeros en hora punta. La compañía también construirá un intercambiador de autobuses con capacidad de más de 8.000 pasajeros y un aparcamiento con 800 plazas. Otro de los componentes del proyecto es la ampliación de la Vía Transístmica a seis carriles y un segmento destinado a tráfico con dos niveles, aparte de mejoras peatonales y paisajistas, las cuales se desarrollarán en la servidumbre existente.</p>
            <img src="images/ferrocarril1.jpg" class="about__image2" alt="">
            <hr>
            <h2 class="subtitle">Europa</h2>
            <p class="about__paragraph">En el ámbito de la alta velocidad española (AVE) contamos con 30 años de trayectoria y cerca de 200 proyectos ejecutados. El corredor norte-noroeste de la L.A.V. Madrid-Galicia (tramo túnel del Espiño. Vía Izquierda) o la plataforma de la L.A.V. Vitoria-Bilbao-San Sebastián (tramo Antzuola-Ezquio/Itxaso Este), entre otros.</p>
            <p class="about__paragraph">En Noruega realizamos el EPC (Engineering, Procurement and Construction) Ski, orientado a la reconstrucción de la estación de ferrocarril de Ski y su ampliación para conectarla a la línea de alta velocidad Follo Line; y en Suecia trabajamos para mejorar la línea existente entre Lund y Arlöv (Malmö), una de las rutas de ferrocarril más transitadas del país.</p>
            <p class="about__paragraph">En República Checa hemos participado en el desarrollo de corredores ferroviarios, a través de nuestra filial especializada ŽS, con más de 60 años de historia; y en Eslovenia, hemos realizado el tramo Dolga Gora-Poljčane, que contempla 7,5 kilómetros de doble vía.</p>
            <p class="about__paragraph">Además, destacan los trabajos de G&O, filial especializada en la realización de infraestructuras, superestructuras y mantenimientos ferroviarios; y E&M Instalaciones, centrada en la ejecución de proyectos de electrificación ferroviaria e instalaciones eléctricas.</p>
            <hr>
            <h2 class="subtitle">Nuestros proyectos</h2>
            <section >
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="images/ferrocarril2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Metro de Barcelona L9. Tramos I y IV</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/ferrocarril3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tren ligero Purple Line</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/ferrocarril4.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">OHLA logra un nuevo hito en EE.UU. en el marco del proyecto ferroviario de Elmont Station</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/ferrocarril5.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Línea ferroviaria Lund-Arlöv</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <footer id="pie">
        <div class="row align-items-center">
            <div class="col">
                <img src="images/logo.png" class="img-fluid" alt="logo ea" width="120">
            </div>
            <div class="col"><a class="link-light" href="index.html">Inicio</a></div>
            <div class="col"><a class="link-light" href="somos.html">Somos Construction</a></div>
            <div class="col"><a class="link-light" href="noticias.html">Noticias</a></div>
            <div class="col">@EmmanuelPonceRamírez2023</div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>