<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&family=Raleway:wght@100;600;900&family=Roboto:ital,wght@0,100;0,300;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo.css" type="text/css">
    <title>Hidraulicas</title>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark" id="nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Logo de APEX" width="90"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="somos.html">Somos Costruction</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Construcción
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="carreteras.html">Carreteras</a></li>
                                <li><a class="dropdown-item" href="puertos.html">Puertos</a></li>
                                <li><a class="dropdown-item" href="ferrocarriles.html">Ferrocarriles</a></li>
                                <li><a class="dropdown-item" href="aeropuertos.html">Aeropuertos</a></li>
                                <li><a class="dropdown-item" href="hospitales.html">Hospitales</a></li>
                                <li><a class="dropdown-item" href="hidraulicas.html">Hidráulicas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="innovacion.html">Innovación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="sostenibilidad.html">Sostenibilidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="seguridad.html">Seguridad y Salud</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="noticias.html">Noticias</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="hero__hidraulicas">
        <div class="container">
            <section class="hero__container">
                <div class="hero__texts">
                    <h2 class="hero__title">Hidráulicas</h2>
                    <h2 class="hero__subtitle">Desde 1945, con la construcción de la presa de Albiña en Navarra (España), nos encontramos entre las compañías de referencia en cuanto a experiencia y capacidad técnica, dando respuesta a todas las necesidades de desarrollo hidráulico, como la ejecución de grandes presas, la regulación de los caudales de los ríos, la producción de energía, el abastecimiento de agua y el saneamiento, la racionalización del agua para consumo humano y agrícola, el control de las avenidas y encauzamiento de los ríos.</h2>
                </div>
            </section>
        </div>
    </div>
    <div id="fondo">
        <section class="container__page">
            <p class="about__paragraph">Como construcciones destacadas se encuentran la presa del Búrdalo en Cáceres (España) a la que se suma la presa de Bellús (Valencia), de Riaño (León), del Val (Zaragoza), el encauzamiento del río Segre (Lleida) y la remodelación del río Guadalquivir en Córdoba, todas ellas en España.</p>
            <hr>
            <h2 class="subtitle">Proyectos en Europa y América</h2>
            <p class="about__paragraph">A ellas hay que añadir el proyecto MED 609, para la instalación de una red principal de abastecimiento de agua y el reemplazo del alcantarillado de Newhope-Placentia, ambos en EEUU; la construcción del embalse de riego Chacrillas, en Chile; el proyecto hidroeléctrico El Quimbo, la ampliación del acueducto de Cúcuta en Colombia que mejorará el acceso al agua potable para cerca de un millón de habitantes y la recuperación del centro de mando del canal navegable del río Labe en Ustid nad Laben, República Checa.</p>
            <img src="images/hidraulicas2.jpg" class="about__image2" alt="">
            <hr>
            <h2 class="subtitle">Nuestros proyectos</h2>
            <section >
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="images/hidraulica1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Reemplazo de la tubería de desagüe en la planta de tratamiento de aguas residuales de Bergen Point</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/hidraulica2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Estación Depuradora de Aguas Residuales de Lagares</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/hidraulica3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Presa del Búrdalo</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <footer id="pie">
        <div class="row align-items-center">
            <div class="col">
                <img src="images/logo.png" class="img-fluid" alt="logo ea" width="120">
            </div>
            <div class="col"><a class="link-light" href="index.html">Inicio</a></div>
            <div class="col"><a class="link-light" href="somos.html">Somos Construction</a></div>
            <div class="col"><a class="link-light" href="noticias.html">Noticias</a></div>
            <div class="col">@EmmanuelPonceRamírez2023</div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>