<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&family=Raleway:wght@100;600;900&family=Roboto:ital,wght@0,100;0,300;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo.css" type="text/css">
    <title>Hospitales</title>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark" id="nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Logo de APEX" width="90"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="somos.html">Somos Costruction</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Construcción
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="carreteras.html">Carreteras</a></li>
                                <li><a class="dropdown-item" href="puertos.html">Puertos</a></li>
                                <li><a class="dropdown-item" href="ferrocarriles.html">Ferrocarriles</a></li>
                                <li><a class="dropdown-item" href="aeropuertos.html">Aeropuertos</a></li>
                                <li><a class="dropdown-item" href="hospitales.html">Hospitales</a></li>
                                <li><a class="dropdown-item" href="hidraulicas.html">Hidráulicas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="innovacion.html">Innovación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="sostenibilidad.html">Sostenibilidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="seguridad.html">Seguridad y Salud</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="noticias.html">Noticias</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="hero__hospitales">
        <div class="container">
            <section class="hero__container">
                <div class="hero__texts">
                    <h2 class="hero__title">Hospitales</h2>
                    <h2 class="hero__subtitle">Nueve décadas sumando proyectos en el ámbito de la construcción hospitalaria y un portfolio de más de 150 hospitales de nueva planta, equivalentes a 6 mill. de m2 aproximados y más de 60.000 camas; cerca de 100 centros sanitarios y más de 200 actuaciones de renovación y rehabilitación avalan nuestra trayectoria</h2>
                </div>
            </section>
        </div>
    </div>
    <div id="fondo">
        <section class="container__page">
            <p class="about__paragraph">La actividad, iniciada en España, se extiende a países como EEUU, Chile, México, Argentina, Uruguay, Las Antillas, República Checa, Portugal, o Irlanda. En nuestros trabajos aplicamos metodologías alineadas con la digitalización de los procesos constructivos como BIM (Building Information Modeling) y seguimos criterios de sostenibilidad reconocidos por prestigiosos estándares internacionales como LEED (Leadership in Energy & Environmental Design) y Passivhaus.</p>
            <p class="about__paragraph">En España destacan hospitales de nueva planta como el de Ciudad Real, dotado con 800 camas y 135.584 metros cuadrados (m2) de superficie o el Rey Juan Carlos I, en Móstoles, con 94.138 m2 y capacidad para 302 camas. También el Hospital de Cuenca, con una superficie aproximada de 189.218 m2 y cuenta con espacio para 519 camas.</p>
            <p class="about__paragraph">Asimismo, y bajo el régimen de colaboración público-privada (PPP), hemos llevado a cabo la construcción del Hospital Universitario de Burgos, con 744 camas y 264.403 m2 de extensión, el Hospital del Sureste de Arganda, en Madrid, con 52.583 m2 y una dotación de 148 camas y el nuevo Hospital Universitario de Toledo, con una superficie de 246.964 m2 y capacidad para 1.142 camas, todos ellos en España.</p>
            <p class="about__paragraph">Un aspecto relevante de la actividad constructora hospitalaria de OHLA, es su experiencia y alta capacitación para la ejecución de infraestructuras destinadas al soporte de la alta tecnología clínica y electromedicina, como instalaciones de hemodinámica, PET/TAC, aceleradores lineales de radioterapia, cirugía robótica Da Vinci, medicina nuclear etc., así como el propio suministro e implantación de los equipos de alta tecnología y electromedicina.</p>
            <img src="images/hospital1.jpg" class="about__image2" alt="">
            <hr>
            <h2 class="subtitle">Europa</h2>
            <p class="about__paragraph">Destaca la construcción del National Forensic Mental Health Hospital en Portrane (Irlanda), un edificio de 24.000 m2 de superficie y 170 camas; y en República Checa realizamos el nuevo edificio de Medicina Interna General y Geriatría en el Hospital Universitario de Olomouc, el sexto hospital más grande del país.</p>
            <hr>
            <h2 class="subtitle">EEUU</h2>
            <p class="about__paragraph">En EEUU, la compañía ha acometido el Institute of Healthy Living, dotado con una superficie de 21.874 m2 y 229 camas, y el St. Catherine’s West Hospital, con 6.968 m2 y 120 camas. Ambos se encuentran en Florida, donde la compañía también es responsable de la construcción del Centro Médico de UHealth, en el Campus de Coral Gables de la Universidad de Miami, entre otras iniciativas.</p>
            <p class="about__paragraph">Otros proyectos destacados</p>
            <ul><li><p class="about__paragraph">Miami Children’s Hospital. Florida, EEUU</p></li></ul>
            <hr>
            <h2 class="subtitle">Chile</h2>
            <p class="about__paragraph">En Chile, construimos el hospital de Curicó en sustitución del centro hospitalario destruido en el terremoto de 2010. Con más de 109.152 m2 de superficie y 400 camas, el hospital de Curicó contempla un sistema de aislación sísmica compuesto de 298 aisladores y 76 deslizadores sísmicos. Este proyecto se suma al Hospital Militar de la Reina, en Santiago de Chile, caracterizado por una superficie de 86.350 m2 y con un sistema de protección sísmica integrado por 164 aisladores elastoméricos; y en Viña del Mar, región de Valparaíso, realizamos el Hospital Gustavo Fricke en sustitución del centro del mismo nombre que se inauguró en 1954 y que cuenta con 193 aisladores elastoméricos.</p>
            <hr>
            <h2 class="subtitle">Nuestros Proyectos</h2>
            <section >
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="images/hospital3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Residencia para veteranos Ardie R. Copas State</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/hospital4.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">National Forensic Mental Health Hospital</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/hospital5.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Hospital Universitario de Burgos</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/hospital6.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">South Miami Hospital</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <footer id="pie">
        <div class="row align-items-center">
            <div class="col">
                <img src="images/logo.png" class="img-fluid" alt="logo ea" width="120">
            </div>
            <div class="col"><a class="link-light" href="index.html">Inicio</a></div>
            <div class="col"><a class="link-light" href="somos.html">Somos Construction</a></div>
            <div class="col"><a class="link-light" href="noticias.html">Noticias</a></div>
            <div class="col">@EmmanuelPonceRamírez2023</div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>