<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&family=Raleway:wght@100;600;900&family=Roboto:ital,wght@0,100;0,300;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo.css" type="text/css">
    <title>Noticias</title>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark" id="nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Logo de APEX" width="90"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="somos.html">Somos Costruction</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Construcción
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="carreteras.html">Carreteras</a></li>
                                <li><a class="dropdown-item" href="puertos.html">Puertos</a></li>
                                <li><a class="dropdown-item" href="ferrocarriles.html">Ferrocarriles</a></li>
                                <li><a class="dropdown-item" href="aeropuertos.html">Aeropuertos</a></li>
                                <li><a class="dropdown-item" href="hospitales.html">Hospitales</a></li>
                                <li><a class="dropdown-item" href="hidraulicas.html">Hidráulicas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="innovacion.html">Innovación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="sostenibilidad.html">Sostenibilidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="seguridad.html">Seguridad y Salud</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="noticias.html">Noticias</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="hero__noticias">
        <div class="container">
            <section class="hero__container">
                <div class="hero__texts">
                    <h2 class="hero__title">Noticias</h2>
                    <h2 class="hero__subtitle">Noticias destacadas de OHLA</h2>
                </div>
            </section>
        </div>
    </div>
    <div id="fondo">
        <section class="container__page">
            <section class="about">
                <div class="about__texts">
                    <h3 class="subtitle">OHLA, una nueva marca para un grupo global de infraestructuras preparada para volver a la senda del beneficio</h3>
                    <p class="about__paragraph">Madrid, 6 de julio de 2021.– Nace OHLA, una nueva marca para un grupo global de infraestructuras preparado para volver a la senda del beneficio a través del impulso de infraestructuras que tienen un impacto positivo en la sociedad.</p>
                    <p class="about__paragraph">ras 22 años con la marca OHL, la transformación experimentada por la compañía se ve reflejada en una nueva identidad visual más moderna y flexible que conecta con la sostenibilidad y el crecimiento. Por ello, “OHLA, que muestra el legado de 110 años de historia, es también sinónimo de avance, de progreso, de apertura y, sobre todo, de bienvenida a una nueva etapa”, según destaca su presidente, Luis Amodio.</p>
                </div>
                <figure class="about__img">
                    <img src="images/notap.jpg" class="about__picture" alt="img1">
                </figure>
            </section>
            <div class="card">
                <div class="card-header">
                    21 DE FEBRERO DE 2023
                </div>
                <div class="card-body">
                    <h5 class="card-title">Información Relevante. OHLA comunica la fecha de presentación de Resultados 2022</h5>
                    <p class="card-text">OBRASCÓN HUARTE LAÍN, S.A. (OHLA o la Sociedad), en cumplimiento de lo establecido en el artículo 227 de la Ley del Mercado de Valores, pone en conocimiento de la Comisión Nacional del Mercado de Valores (CNMV) la siguiente</p>
                    <p class="card-text">OTRA INFORMACIÓN RELEVANTE</p>
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="card-header">
                    17 DE FEBRERO DE 2023
                </div>
                <div class="card-body">
                    <h5 class="card-title">Sobre negocio y situación financiera. Finalización de la recompra de bonos</h5>
                    <p class="card-text">OBRASCÓN HUARTE LAÍN, S.A. (OHLA o la Sociedad), en cumplimiento de lo establecido en el artículo 227 de la Ley del Mercado de Valores, pone en conocimiento de la Comisión Nacional del Mercado de Valores (CNMV) la siguiente</p>
                    <p class="card-text">OTRA INFORMACIÓN RELEVANTE</p>
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="card-header">
                    15 DE FEBRERO DE 2023
                </div>
                <div class="card-body">
                    <h5 class="card-title">El equipo de OHLA en Turquía dona maquinaria y herramientas para ayudar en las tareas de rescate del terremoto</h5>
                    <p class="card-text">Tras el fuerte terremoto que sacudió el sur de Turquía el pasado 6 de febrero, el equipo de OHLA en el país se ha movilizado donando maquinaria y equipamientos para ayudar en las labores de rescate.</p>
                    <p class="card-text">OTRA INFORMACIÓN RELEVANTE</p>
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="card-header">
                    13 DE FEBRERO DE 2023
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ingesan introduce robots de limpieza para su servicio en hospitales</h5>
                    <p class="card-text">Ingesan, filial de cabecera de la división de Servicios de OHLA, ha presentado las nuevas unidades de robots autónomos de limpieza que desempeñarán su función en el Parque Hospitalario Martí i Julià (Girona).</p>
                    <p class="card-text">OTRA INFORMACIÓN RELEVANTE</p>
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="card-header">
                    8 DE FEBRERO DE 2023
                </div>
                <div class="card-body">
                    <h5 class="card-title">OHLA implementa en España Coordinal y VerSat, dos soluciones digitales para una mejor gestión del clima urbano</h5>
                    <p class="card-text">OHLA, a través de Ingesan, filial de cabecera de su línea de actividad de Servicios, ha implementado en España Coordinal y VerSat, dos soluciones digitales de diseño e propio.</p>
                    <p class="card-text">OTRA INFORMACIÓN RELEVANTE</p>
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="card-header">
                    6 DE FEBRERO DE 2023
                </div>
                <div class="card-body">
                    <h5 class="card-title">OHLA renueva su convenio de colaboración con Fundación Integra para facilitar empleo a personas vulnerables</h5>
                    <p class="card-text">OHLA, grupo global de infraestructuras con más de 110 años de historia, ha renovado su convenio de colaboración con Fundación Integra.</p>
                    <p class="card-text">OTRA INFORMACIÓN RELEVANTE</p>
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        </section>
    </div>
    <footer id="pie">
        <div class="row align-items-center">
            <div class="col">
                <img src="images/logo.png" class="img-fluid" alt="logo ea" width="120">
            </div>
            <div class="col"><a class="link-light" href="index.html">Inicio</a></div>
            <div class="col"><a class="link-light" href="somos.html">Somos Construction</a></div>
            <div class="col"><a class="link-light" href="noticias.html">Noticias</a></div>
            <div class="col">@EmmanuelPonceRamírez2023</div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>