<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&family=Raleway:wght@100;600;900&family=Roboto:ital,wght@0,100;0,300;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo.css" type="text/css">
    <title>Puertos</title>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark" id="nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Logo de APEX" width="90"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="somos.html">Somos Costruction</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Construcción
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="carreteras.html">Carreteras</a></li>
                                <li><a class="dropdown-item" href="puertos.html">Puertos</a></li>
                                <li><a class="dropdown-item" href="ferrocarriles.html">Ferrocarriles</a></li>
                                <li><a class="dropdown-item" href="aeropuertos.html">Aeropuertos</a></li>
                                <li><a class="dropdown-item" href="hospitales.html">Hospitales</a></li>
                                <li><a class="dropdown-item" href="hidraulicas.html">Hidráulicas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="innovacion.html">Innovación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="sostenibilidad.html">Sostenibilidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="seguridad.html">Seguridad y Salud</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="noticias.html">Noticias</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="hero__puertos">
        <div class="container">
            <section class="hero__container">
                <div class="hero__texts">
                    <h2 class="hero__title">Puertos</h2>
                    <h2 class="hero__subtitle">El desarrollo de dos proyectos portuarios en 1912 marcó el inicio de nuestra actividad constructora: la ejecución de La Dársena de Alcántara y del Muelle Oeste del Puerto de Santos, en Lisboa (Portugal). Desde entonces, hemos llevado a cabo mas de 600 actuaciones en colaboración, en su mayor parte, con nuestra filial especializada SATO.</h2>
                </div>
            </section>
        </div>
    </div>
    <div id="fondo">
        <section class="container__page">
            <h2 class="subtitle">España</h2>
            <p class="about__paragraph">Esta actividad se concreta en la realización de más de 35 km de diques de abrigo y cerca de 30 km de muelle; en la realización de 1.000 cajones de hormigón, 20 millones de m3 de hormigón en cajones, bloques y superestructuras, más de 60 millones de m3 de dragado y 40 millones de m3 de relleno.</p>
            <p class="about__paragraph">Asimismo, hemos desarrollado innovaciones aplicadas a la construcción de diques, reconocidas internacionalmente y que han contribuido a reducir el impacto en el medio ambiente y optimizar el coste de producción. Es el caso de Cubipod y de la pinza SATOGrab.</p>
            <p class="about__paragraph">Entre los proyectos abordados en España, destaca la construcción del nuevo puerto exterior de A Coruña (instalaciones portuarias de Langosteira) y el de Granadilla en Tenerife, así como las ampliaciones de los puertos de Alicante, Algeciras y Gijón. A ellos se suma la construcción del nuevo dique sur en el Puerto de Barcelona, el desarrollo exterior del puerto de Las Palmas en la dársena de África, la nueva terminal de contendedores en el Puerto de Santa Cruz de Tenerife, así como la terminal marítima para descarga de hidrocarburos en la Bahía del Puerto de Algeciras.</p>
            <p class="about__paragraph">Además, la compañía lleva a cabo la segunda fase de la prolongación del dique Reina Sofía Sur, en el puerto de Las Palmas, las obras de la primera fase del espigón central en el Puerto de Bilbao, la tercera fase de la ampliación del muelle adosado en el Puerto de Barcelona y la ampliación y remodelación de la terminal marítima número 6 de Palma de Mallorca.</p>
            <img src="images/puerto1.jpg" class="about__image2" alt="">
        </section>
    </div>
    <footer id="pie">
        <div class="row align-items-center">
            <div class="col">
                <img src="images/logo.png" class="img-fluid" alt="logo ea" width="120">
            </div>
            <div class="col"><a class="link-light" href="index.html">Inicio</a></div>
            <div class="col"><a class="link-light" href="somos.html">Somos Construction</a></div>
            <div class="col"><a class="link-light" href="noticias.html">Noticias</a></div>
            <div class="col">@EmmanuelPonceRamírez2023</div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>