<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&family=Raleway:wght@100;600;900&family=Roboto:ital,wght@0,100;0,300;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo.css" type="text/css">
    <title>Seguridad</title>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark" id="nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Logo de APEX" width="90"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="somos.html">Somos Costruction</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Construcción
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="carreteras.html">Carreteras</a></li>
                                <li><a class="dropdown-item" href="puertos.html">Puertos</a></li>
                                <li><a class="dropdown-item" href="ferrocarriles.html">Ferrocarriles</a></li>
                                <li><a class="dropdown-item" href="aeropuertos.html">Aeropuertos</a></li>
                                <li><a class="dropdown-item" href="hospitales.html">Hospitales</a></li>
                                <li><a class="dropdown-item" href="hidraulicas.html">Hidráulicas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="innovacion.html">Innovación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="sostenibilidad.html">Sostenibilidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="seguridad.html">Seguridad y Salud</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="noticias.html">Noticias</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="hero__saludys">
        <div class="container">
            <section class="hero__container">
                <div class="hero__texts">
                    <h2 class="hero__title">Seguridad y Salud</h2>
                    <h2 class="hero__subtitle">Apostamos por la integración de la seguridad y salud en todo el proceso productivo como la única forma de proporcionar una protección eficaz a los trabajadores y siempre bajo la premisa de que todo accidente es evitable.</h2>
                </div>
            </section>
        </div>
    </div>
    <div id="fondo">
        <div class="presentation container">
            <p class="about__paragraph">El pilar fundamental para conseguir el objetivo de Cero Accidentes es el compromiso de la alta dirección de la empresa, la línea de producción y la formación continua, en todos los niveles de la compañía, en materia de seguridad y salud.</p>       
            <p class="about__paragraph">Hemos diseñado e implantado un Sistema de Gestión Integrado en Seguridad y Salud Ocupacional, Calidad y Medio Ambiente, de conformidad con lo establecido en las normas ISO 45001 Sistemas de Seguridad y Salud en el trabajo, ISO 9001 Sistema de Gestión de la Calidad e ISO 14001 Sistema de Gestión Ambiental, que da a su vez cumplimiento a los requisitos recogidos en las normas SA 8000 Responsabilidad Social y UNE–EN ISO 50001 Sistema de Gestión de la Energía, mediante el que se refleja el compromiso con las personas y con el medio ambiente.</p>
        </div>
        <section class="container__page">
            <h2 class="subtitle">Comprometidos con la salud y el bienestar </h2>
            <p class="about__paragraph">Nuestro compromiso con la salud y el bienestar de nuestros trabajadores y trabajadoras es una prioridad y uno de los principios  básicos de nuestra propuesta de valor. El programa CUIDATE está basado en tres ejes: nutrición, equilibrio emocional y actividad física que promueven centros de trabajo seguros y saludables a través de la mejora continua del bienestar físico y emocional de nuestras personas fomentando:</p>
            <section >
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="images/seguridad2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Desarrollo Cognitivo</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/seguridad1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Desarrollo Emoicional</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/seguridad3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Desarrollo Conductual</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <div class="about__texts">
                <h3 class="subtitle">Toolbox meeting</h3>
                <p class="about__paragraph">Con objeto de mejorar la sensibilización de los trabajadores y la implicación de los equipos de producción de obra, se realizan charlas de seguridad, ToolBox meeting, a pie de obra, dirigidas a todos los trabajadores, tanto propios como de nuestras empresas colaboradoras, que prestan sus servicios en nuestros centros de trabajo. Estos encuentros son concebidos como una herramienta para la concienciación preventiva de cara al adecuado desempeño de las tareas laborales de forma segura.</p>
            </div>
            <figure class="about__img">
                <img src="images/seguridad4.jpg" class="about__picture" alt="img1">
            </figure>
        </section>
    </div>
    <footer id="pie">
        <div class="row align-items-center">
            <div class="col">
                <img src="images/logo.png" class="img-fluid" alt="logo ea" width="120">
            </div>
            <div class="col"><a class="link-light" href="index.html">Inicio</a></div>
            <div class="col"><a class="link-light" href="somos.html">Somos Construction</a></div>
            <div class="col"><a class="link-light" href="noticias.html">Noticias</a></div>
            <div class="col">@EmmanuelPonceRamírez2023</div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>