<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&family=Raleway:wght@100;600;900&family=Roboto:ital,wght@0,100;0,300;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo.css" type="text/css">
    <title>Sostenibilidad</title>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark" id="nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Logo de APEX" width="90"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="somos.html">Somos Costruction</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Construcción
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="carreteras.html">Carreteras</a></li>
                                <li><a class="dropdown-item" href="puertos.html">Puertos</a></li>
                                <li><a class="dropdown-item" href="ferrocarriles.html">Ferrocarriles</a></li>
                                <li><a class="dropdown-item" href="aeropuertos.html">Aeropuertos</a></li>
                                <li><a class="dropdown-item" href="hospitales.html">Hospitales</a></li>
                                <li><a class="dropdown-item" href="hidraulicas.html">Hidráulicas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="innovacion.html">Innovación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="sostenibilidad.html">Sostenibilidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="seguridad.html">Seguridad y Salud</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="noticias.html">Noticias</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="hero__sostenibilidad">
        <div class="container">
            <section class="hero__container">
                <div class="hero__texts">
                    <h2 class="hero__title">Compromiso con el planeta</h2>
                    <h2 class="hero__subtitle">Nunca antes ha sido tan urgente actuar. En OHLA somos conscientes del impacto medioambiental de nuestra actividad, por eso nos comprometemos con la sostenibilidad del planeta apostando por hacer las cosas de forma distinta. Descubre qué y cómo lo vamos a hacer.</h2>
                </div>
            </section>
        </div>
    </div>
    <div id="fondo">
        <section class="presentation container">
            <h3 class="subtitle">“Algunas personas quieren que algo ocurra, otras sueñan con que pasará, otras hacen que suceda”, Michael Jordan</h3>
            <p class="about__paragraph">Es necesario desarrollar un modelo de negocio responsable y sostenible que busque la creación de valor a largo plazo, y nosotros lo hacemos posible a través de la ambición, el compromiso, la transparencia, la innovación y el talento de nuestro equipo humano.</p>       
            <p class="about__paragraph">Partiendo del análisis de materialidad, gracias al proceso de escucha realizado, hemos definido un Plan de Sostenibilidad que integra los aspectos financieros y no financieros de la compañía englobados en tres prioridades estratégicas.</p>
        </section>
        <section class="container__page">
            <h1 class="title">Cambio Climático</h1>
            <h2 class="subtitle">Apostamos por la descarbonización progresiva de OHLA</h2>
            <p class="about__paragraph">La emisión de gases efecto invernadero es una causa directa del calentamiento global, una amenaza real para el planeta. Tanto las organizaciones como la sociedad en general, hemos tomado consciencia de la situación y de la necesidad de revertirla.</p>
            <section >
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="images/sostenibilidad01.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Busqueda de las mejores prácticas en las operaciones</h5>
                                <p class="card-text">Reducimos nuestras emisiones a través del desarrollo de acciones que nos permiten optimizar los procesos y mejorar la eficiencia en el uso de los recursos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/sostenibilidad02.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Apuesta por las energías renovables</h5>
                                <p class="card-text">Instalamos paneles solares y producimos energía verde en algunas obras.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/sostenibilidad03.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Apoyo a la movilidad sostenible y a la eficiencia en los desplazamientos</h5>
                                <p class="card-text">Cambiamos progresivamente la flota de vehículos por otros de bajas emisiones.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/sostenibilidad04.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Compensación de nuestras emisiones de CO2</h5>
                                <p class="card-text">Definimos planes anuales de compensación de emisiones y creamos sumideros de carbono a través de la actividad de forestación y reforestación.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <hr>
        <section class="container__page">
            <h1 class="title">Economía Circular y Gestión Hídrica</h1>
            <p class="about__paragraph">Los recursos naturales son finitos. De todos ellos, el agua es el recurso más preciado y escaso. En OHLA trabajamos para garantizar la disponibilidad futura de este y otros recursos naturales; y nos comprometemos a hacer frente a la crisis hídrica y al agotamiento de recursos naturales mediante la aplicación de criterios de circularidad en nuestros proyectos y a través de la gestión eficiente de los recursos hídricos.</p>
            <p class="about__paragraph">Nuestras palancas de acción son:</p>
            <section >
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="images/sostenibilidad4.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Busqueda de las mejores prácticas en las operaciones</h5>
                                <p class="card-text">Reducimos nuestras emisiones a través del desarrollo de acciones que nos permiten optimizar los procesos y mejorar la eficiencia en el uso de los recursos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/sostenibilidad5.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Apuesta por las energías renovables</h5>
                                <p class="card-text">Instalamos paneles solares y producimos energía verde en algunas obras.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/sostenibilidad6.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Apoyo a la movilidad sostenible y a la eficiencia en los desplazamientos</h5>
                                <p class="card-text">Cambiamos progresivamente la flota de vehículos por otros de bajas emisiones.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <hr>
        <section class="container__page">
            <h1 class="title">Biodiversidad</h1>
            <p class="about__paragraph">Las compañías no son un ente aislado y autónomo, sino que impactan y dependen del entorno en el que se ubican. La pérdida de biodiversidad afecta directamente al cambio climático ya que, los ecosistemas afectados como bosques y océanos, son fundamentales para la absorción de emisiones de carbono, a la vez que juegan un papel esencial en la protección contra eventos climáticos extremos.</p>
            <p class="about__paragraph">En OHLA trabajamos para reducir el impacto de las operaciones sobre la biodiversidad y los ecosistemas, y para proteger el medio natural.</p>
            <p class="about__paragraph">Nuestras palancas de acción son:</p>
            <section >
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="images/sostenibilidad7.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Promoción de buenas prácticas de biodiversidad</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/sostenibilidad8.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ejecución de iniciativas de regeneración y restauración de ecosistemas</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <hr>
        <section class="container__page">
            <h1 class="title">Construcción Sostenible</h1>
            <p class="about__paragraph">La construcción como motor económico de nuestra sociedad tiene una responsabilidad clave en el proceso de cambio hacia la sostenibilidad global. La construcción sostenible se basa en un nuevo modelo de edificación e implica la transformación del sector. En OHLA contribuimos con proyectos que cumplen con los estándares internacionales de referencia en construcción sostenible.</p>
            <p class="about__paragraph">Nuestras palancas de acción son:</p>
            <section >
                <div class="row row-cols-1 row-cols-md-1 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="images/sostenibilidad9.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Comprometidos con la construcción sostenible</h5>
                                <p class="card-text">En el ámbito de la edificación singular aplicamos criterios de sostenibilidad que responden a las metodologías LEED, BREEAM, Passivhaus, CES y WELL, entre otras.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <footer id="pie">
        <div class="row align-items-center">
            <div class="col">
                <img src="images/logo.png" class="img-fluid" alt="logo ea" width="120">
            </div>
            <div class="col"><a class="link-light" href="index.html">Inicio</a></div>
            <div class="col"><a class="link-light" href="somos.html">Somos Construction</a></div>
            <div class="col"><a class="link-light" href="noticias.html">Noticias</a></div>
            <div class="col">@EmmanuelPonceRamírez2023</div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>